<div id="menubar">
    <ul id="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/study_programs/">Учебные программы</a></li>
        <li><a href="/courses-list/">Список курсов</a></li>
        <li><a href="/create-course/">Создать курс</a></li>
        <li><a href="/create-category/">Создать категорию</a></li>
        <li><a href="/category-list/">Список категорий</a></li>
        <li><a href="/copy-course/">Копировать курс</a></li>
        <li><a href="/about/">Об этом</a></li>
        <li><a href="/contacts/">Контакты</a></li>
    </ul>
</div>