<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title|default('Document') }}</title>
    {% include 'includes/include__css.html' %}
    <link rel="icon" href="https://icon-icons.com/downloadimage.php?id=94570&root=1381/SVG/&file=python_94570.svg" type="image/svg+xml">
</head>
<body>
<div id="main">
    {% block header_menu %}
        {% include 'includes/include__header.html' %}
    {% endblock %}

    <div id="site_content">
        {% include 'includes/include__sidebar.html' %}
        <div id="content">
            {% block content %} {% endblock %}
        </div>
    </div>

    {% block footer %}
        {% include 'includes/include__footer.html' %}
    {% endblock %}
</div>
</body>
</html>